{% extends "store/blank.html" %}

{% block body %}

<form action="/storerequestproductpost" method="POST">

<table class="table table-bordered">

    <tr>
        <td width="150px">Product Name</td>
        <td><select name="pid" class="form-control">

            {% for i in data %}

            <option value="{{ i['product_id'] }}">{{ i['product_name'] }}</option>

            {% endfor %}

        </select></td>
    </tr>
    <tr>
        <td>Quantity</td>
        <td>
            <input type="number" name="qty" required class="form-control"/>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Submit" class="form-control"/>
        </td>
    </tr>
</table>



</form>




{% endblock %}