{% extends "store/blank.html" %}

{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table  class="table table-bordered">
    <tr>
        <th width="50"><B>SL NO</B></th>
      <td><B>CATEGORY NAME</B></td>
      <td><B>PRODUCT NAME</B></td>
      <td><B>PRICE</B></td>
      <td><B>QUANTITY</B></td>
        <td><B>IMAGE</B> </td>
        <td><B>DESCRIPTION</B> </td>
       

      </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i['category_name'] }}</td>
      <td>{{ i['product_name'] }}</td>
      <td>{{ i['price'] }}</td>
        <td>{{ i['quantity'] }}</td>
        <td><img src="{{ i['image'] }}" height="100px" width="100px"/></td>
        <td>{{ i['description'] }}</td>
        



      
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}
