{% extends 'SHOP/shop_index_2.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/stock_mng_post">
  <table class="pull-right">
    <tr>
      <td><label for="textfield"></label>
      <input type="text" name="textfield"class="form-control" id="textfield" class="form-control" /></td>
      <td><input type="submit" name="button" class="btn btn-success"  id="button" value="SEARCH" /></td>
    </tr>
  </table>
  <table class="table table-bordered">
    <tr>
      <th>SI/NO</th>
      <th>PRODUCT NAME</th>
      <th>BRAND</th>
{#      <th>QUANTITY</th>#}
      <th>STOCK</th>
    </tr>
      {% for i in val %}

    <tr>

      <td width="50px">{{loop.index }}</td>
      <td>&nbsp;{{ i['product_name'] }}</td>
      <td>&nbsp;{{ i['brand'] }}</td>
{#      <td width="200px">{{ i['quantity'] }}&nbsp;</td>#}
      <td width="100px">{{ i['stock_quantity'] }}&nbsp;</td>
         <td><table>
        <tr>
          <td><a href="/stock_updating/{{ i['stock_id'] }}" class="btn btn-primary">Update Stock</a></td>
        </tr>
      </table></td>
    </tr>
       {% endfor %}
  </table>
</form>
{% endblock %}
