{% extends "admin/blank.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/adm_approved_seller">
  <table class="table table-bordered">
    <tr>
        <th width=50px><b>Sl No</b></th>
      <th><b>Seller name</b></th>
      <th><b>Email ID</b></th>
      <th><b>Ph no</b></th>
      <th><b>Address</b></th>
        <th><b>Image</b></th>
      <th width=50px>&nbsp;</th>
    </tr>
    {% for i in data %}
    <tr>
      <td>{{loop.index}}</td>
      <td>{{i['seller_name']}}</td>
      <td>{{i['email_id']}}</td>
      <td>&nbsp;{{i['ph_no']}}</td>
      <td>{{i['house_name']}}<br>
      {{i['city']}}<br>
      {{i['district']}}<br>
        {{i['state']}}<br>
      <td><img src="{{i['image']}}" height="100" width="100"/> </td>
        <td><input type="checkbox" name="ids" value="{{ i['login_id'] }}"/> </td>
{#      <td><a href="/adm_approved_seller/{{ i['login_id'] }}"class="btn btn-success" onclick="confirm('do you want to reject? ')">Approve</a></td>#}
    </tr>
      {% endfor %}
  <tr>
      <td colspan="7" align="center"><input type="submit" value="Accept" name="btn" class="btn btn-success"/> </td>
  </tr>
  </table>
</form>
{% endblock %}
