<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table border="1">
    <tr>
      <td><a href="/adhome">HOME</a></td>
    </tr>
    <tr>
      <td><a href="/shop_approval">VIEW AND APPROVE SHOPS</a></td>
    </tr>
    <tr>
      <td><a href="/rejected_shops">VIEW REJECTED SHOPS</a></td>
    </tr>
    <tr>
      <td><a href="/approved_shops">VIEW APPROVED SHOPS</a></td>
    </tr>
    <tr>
      <td><a href="/new_category">NEW CATEGORY</a></td>
    </tr>
    <tr>
      <td><a href="/category">VIEW CATEGORY</a></td>
    </tr>
    <tr>
      <td><a href="/registered_users">VIEW REGISTERED USERS</a></td>
    </tr>
    <tr>
      <td><a href="/complaints_reply">VIEW COMPLAINT AND SEND REPLAY</a></td>
    </tr>
    <tr>
      <td><a href="/review">VIEW REVIEW OF SHOPS BY USERS</a></td>
    </tr>
      <tr><td><a href="/">LOGOUT</a> </td></tr>
  </table>
</form>
</body>
</html>
